

.indexJumbo{
    text-align: center;
    background-color: white;
}
.headerJumbo{
    text-align: center;
    background-color: white;
}

.jumbotron{
    margin: auto;
}

.menu-item{
    background-color: white;
    color: red;
}

.display-3{
    color: black;
    text-decoration: none;
}
.display-3:hover{
    text-decoration: none;
    color: black;
font-weight: 300;
}

.menu-item:hover{
    background-color: red;
    color: white;

}

.indexnav {
    background-color: white;
    color: red;
}

.indexnav:hover{
    background-color: red;
    color: white;
    }
.aboutnav:hover{
    background-color: red;
    color: white;
}

#currentPage{
    background-color: red;
    color: white;
}