
body{
   
    margin: auto;
}
.indexJumbo{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 80%;
}

hr{
    width: 80%;
}
.aboutJumbo{
    text-align: center;
    background-color: white;
}

 .indexnav{
    color: red;
} 

.menu-item{
    background-color: white;
    color: red;
}

.indexnav:hover{
color: white;
}

.card-body{
    justify-content: center;
}
.menu-item:hover{
    background-color: red;
    color: white;
}

.parallax {
    /* background-image: url(Assets/two_men_fighting_bw.jpg); */
    background-image: url(Assets/kids/that-kick-right-there.jpg);

    background-size: 100px;
    height: 400px;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.row {
    margin: auto;
   
}




.card-body{
 /* background-color: rebeccapurple; */
 text-align: center;
}

.card-body p {
    text-align: left;
}
   

@media screen and (min-width: 600px) {
    .jumbotron .indexJumbo{
        display: none !important;
    }
}

#news{
    margin: auto;
}



.title-span{
font-weight: bold;
font-size: large;
text-transform: uppercase;
text-decoration: underline;
}

.date-span{
font-size: smaller;
text-transform: lowercase;
font-style: italic;


}

.news-and-events {
    width: 80%;
    margin: auto;
   
}

.news-image{
    width: 250px;
    height: auto;
}

.map-flyer img{
    float: left;


}

.map-flyer iframe{
    float: right;
}
