.indexJumbo{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 80%;
}

hr{
    width: 80%;
}
.aboutJumbo{
    text-align: center;
    background-color: white;
}

 .indexnav{
    color: red;
} 

.menu-item{
    background-color: white;
    color: red;
}

.indexnav:hover{
color: white;
}

.card-body{
    justify-content: center;
}
.menu-item:hover{
    background-color: red;
    color: white;
}

.parallax {
    background-image: url(Assets/two_men_fighting_bw.jpg);
    background-size: 100px;
    height: 400px;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.row {
    margin: auto;
}


@media screen and (min-width: 600px) {
    .jumbotron .indexJumbo{
        display: none !important;
    }
}

