section{
    text-align: center;
    width: 80%;
    margin: auto;
}


body{
margin: auto;
    width: 80%;
}

.indexJumbo{
    text-align: center;
    background-color: white;
}
.aboutJumbo{
    text-align: center;
    background-color: white;
}

.instructors{
    padding-top: 30px;
    padding-bottom: 20px;
}

.menu-item{
    background-color: white;
    color: red;
}

.display-3{
    color: black;
    text-decoration: none;
}
.display-3:hover{
    text-decoration: none;
    color: black;
font-weight: 300;
}

.menu-item:hover{
    background-color: red;
    color: white;

}

.aboutnav {
    background-color: white;
    color: red;
}

.aboutnav:hover{
    background-color: red;
    color: white;
}

.instructor-profile{
    padding-bottom: 40px;
}

.instructor-profile div{
    margin: auto;

}
.instructor-profile div h3{
text-align: center;
padding-bottom: 10px;
}

.instructor-profile div h4{
    text-align: center;
    padding-bottom: 20px;
    }


.instructor-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}