body{

    margin: auto;
}
.headerJumbo{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 80%;
}

hr{
    width: 80%;
}
.aboutJumbo{
    text-align: center;
    background-color: white;
}

.footerNav{

}

.footerNav{


}


#footerList{
    list-style-type: none;
}

#footerList li {
    float:left;
    padding: 10px;
    display: block;
}